#colors {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.color {
  margin: 5px 10px 0 10px;
  width: 200px;
  height: 200px;
  border: 2px black solid;
}

@media only screen and (max-width: 1059px) {
  .color {
    width: 100%;
  }
}